

			<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			  <div class="mdl-card__title dogHeader1">
			    <h2 class="mdl-card__title-text">Rocko</h2>
			  </div>
			  <div class="mdl-card__supporting-text">
			    Hi! My name is Rocko! My owner made this page for me, because I'm AWESOME! Come check out my profile for yourself and see how awesome I am, and maybe you and my owner can meet at the dog park and I can meet you and see how awesome you are! Bring your pet and then he and I can be friends...
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			      View Profile
			    </a>
			  </div>
			  <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">share</i>
			    </button>
			  </div>
			</div>


				<div class="demo-card-wide mdl-card mdl-shadow--2dp">
			  <div class="mdl-card__title dogHeader2">
			    <h2 class="mdl-card__title-text">Fido</h2>
			  </div>
			  <div class="mdl-card__supporting-text">
			    Hi! My name is Fido! My owner made this page for me, because I'm AWESOME! Come check out my profile for yourself and see how awesome I am, and maybe you and my owner can meet at the dog park and I can meet you and see how awesome you are! Bring your pet and then he and I can be friends...
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			      View Profile
			    </a>
			  </div>
			  <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">share</i>
			    </button>
			  </div>
			</div>


	<!-- 		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	  <textarea class="mdl-textfield__input" type="text" rows= "1" id="schools"></textarea>
	  <label class="mdl-textfield__label" for="schools">Schools attended</label>
	</div> -->


		 <!--    <a href="./images/dog7.jpg" data-lightbox="profile-1" data-title="My caption">Animal</a> -->
			    	 
			    <!-- 	 ng-click="showLightBox" -->
			 <!--    <div class="active-paws" ng-repeat="paw in pawsArray">
			 	<img src="./images/drawing.png">
			    <span>{{paw}}</span>
			    </div> -->
<!-- 
			    <div>
				<h4>{{hello}}</h4>
	  		</div> -->

	// $scope.editProfile = function($event){
		// 	$scope.showProfileEdit = false;
		// }



	  		