.demo-layout-transparent {
  background: url("./images/dog1.jpg") center / cover;  
 /*opacity: .5;*/
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: gray;
}

.logo{
	height: 150px;
	width: 150px;
}

.icon{
	padding: 25px;
	
}


.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.dogHeader1{
  color: #fff;
  height: 176px;
  background: url('./images/dog6.jpg') center / cover;
}
.generalHeader{
  color: #fff;
  height: 250px;
}

.catHeader1 {
  color: #fff;
  height: 176px;
  background: url('./images/cat2.jpg') center / cover;
}

.dogHeader2 {
  color: #fff;
  height: 176px;
  background: url('./images/dog7.jpg') center / cover;


.mainFooter{
	border-radius: 8px;
	color: white;
}



