.demo-layout-transparent {
  background: url("./images/dog1.jpg") center / cover;  
  position: relative;
 /*opacity: .5;*/
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  color: black;
}

.logo{
	height: 100px;
	width: 100px;

}

.icon{
	padding: 25px;
	
}


.demo-card-wide.mdl-card {
  width: 600px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

/*.dogHeader1{
  color: #fff;
  height: 176px;
  background: url('./images/dog6.jpg') center / cover;
}*/
.generalHeader{
  color: #fff;
  height: 300px;
}
/*
.catHeader1 {
  color: #fff;
  height: 176px;
  background: url('./images/cat2.jpg') center / cover;
}

.dogHeader2 {
  color: #fff;
  height: 176px;
  background: url('./images/dog7.jpg') center / cover;*/


.mainFooter{
	border-radius: 8px;
	color: white;
  width: 100%;
}

.light{
  height: 200px;
  width: 200px;
}

/*.data-lightbox{
  height:200px;
  width: 200px;
}*/
.popUpLightbox{
  position: relative;
  top: 15%;
  z-index: 10;
  left: 25%;

}
.lightbox-card-wide.mdl-card {
  width: 50%;

}
.shadowLightbox{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 8;
  opacity: .9;

}

.mdl-cell.mdl-cell--2-col {
  background-color: grey;
  height: auto;
  opacity: .5;
}

.mdl-cell.mdl-cell--4-col {
  background-color: grey;
  height: auto;
  opacity: .5;
}
