



<!--   <body ng-controller="editController"> -->

    <h5>{{user.email}}</h5>
    <h5>{{user.zipcode}}</h5>

    <form class="pure-form pure-form-alignedTwo" ng-submit="editUser()">
<!--       //not sure if ng-submit function is pulling $scope.user -->
      <fieldset>
      <h5>Welcome Back: {{user.username}}!</h5>
          <div class="pure-control-group">
              <label for="name">Username</label>
              <input ng-model="user.username" id="name" type="text" placeholder="Username">
          </div>

          <div class="pure-control-group">
              <label for="email">Email Address</label>
              <input ng-model="user.email" id="email" type="email" placeholder="Email Address">
          </div>

          <div class="pure-control-group">
              <label for="profilePic">Profile Picture</label>
              <input ng-model="user.profilePic" id="profilePic" type="url" placeholder="Please upload picture URL">
          </div>


          <div class="pure-control-group">
              <label for="story">Pet Story</label>
              <input ng-model="user.story" id="story" type="text" placeholder="Pet Story">
          </div>

          <div class="pure-controls">

            <button type="submit" class="pure-button pure-button-primary">Submit</button>

  
          </div>
      </fieldset>
</form>
