<!DOCTYPE html>
<html ng-app='petApp' lang="en">
<head>
  <meta charset="utf-8">
  <title>Extras</title>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
  	<link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.orange-light_blue.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  	<link href="lightbox2-master/dist/css/lightbox.css" rel="stylesheet">
  	<script src="https://use.fonticons.com/1729dfc4.js"></script>
  	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  	<link rel="stylesheet" type="text/css" href="../css/main.css">

 </head>

 <body ng-controller="loginController">

<!-- 
<h5>Please Sign In to Tail: </h5> -->
<form class="pure-form pure-form-aligned" ng-Submit="createUser()">
	    <fieldset>
	        <div class="pure-control-group">
	            <label for="name">Username</label>
	            <input ng-model="newProfile.username" id="name" type="text" placeholder="Username">
	        </div>

	        <div class="pure-control-group">
	            <label for="password">Password</label>
	            <input ng-model="newProfile.password" id="password" type="password" placeholder="Password">
	        </div>

	        <div class="pure-control-group">
	            <label for="email">Email Address</label>
	            <input ng-model="newProfile.email" id="email" type="email" placeholder="Email Address">
	        </div>

	        <div class="pure-control-group">
	            <label for="foo">zipcode</label>
	            <input ng-model="newProfile.zipcode" id="foo" type="text" placeholder="Enter 5-digit zipcode">
	        </div>

	        <div class="pure-controls">
	            <label for="cb" class="pure-checkbox">
	                <input id="cb" type="checkbox"> I've read the terms and conditions
	            </label>

	            <button type="submit" class="pure-button pure-button-primary">Submit</button>

	            <div> 
	            	<h6> Sign in with: </h6>
					<i class="icon icon-twitter icon-lg"></i> 
					<i class="icon icon-facebook-square icon-lg"></i> 
					<i class="icon icon-google-plus-square icon-lg"></i> 
				</div>
	    		</div>
	    </fieldset>
</form>

 <footer class="mdl-mini-footer mainFooter">
	  <div class="mdl-mini-footer__left-section">
	    <div class="mdl-logo">Tail</div>
	    <ul class="mdl-mini-footer__link-list">
	      <li><a href="#">Help</a></li>
	      <li><a href="#">Profiles</a></li>
	      <li><a href="#">Connect</a></li>
	    </ul>
	  </div>
	  			<div> 
					<i class="icon icon-twitter icon-2x"></i> 
					<i class="icon icon-facebook-square icon-2x"></i> 
					<i class="icon icon-google-plus-square icon-2x"></i> 
				</div>
</footer>



	<script type="text/javascript" src="angular-material-design-lite.min.js"></script>
	<script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
 	<script src="../js/home.js"></script>


 	</body>
 </html>